.App {
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
